#single-post {
  @include flex-grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include flex-grid-column(12);
    }

    @include breakpoint(medium) {
      @include flex-grid-column(8);
    }
  }
}
